.sidebar-about h1 {
  font-size: 1.6rem;
}

.sidebar-about p {
  font-size: 1.0rem;
}
.sidebar-about {
  padding-left: 1rem;
  margin: 0 auto;
}
#social-bar {
  margin-top: 3em;
  text-align: center;
}
#social-bar a:hover {
  color: #ccc;
}
.sidebar-nav .active:before {
    content: "\00BB";
}
.sidebar-nav h1 {
  font-size: 1.6rem;
}

.sidebar-nav p {
  font-size: 1.0rem;
}
.sidebar-nav {
  padding-left: 1rem;
  margin: 0 auto;
}

/*Buttons*/
.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  min-width: 100px;
  /* auto */
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
}

.theme-base-08 .button {
  background-color: #ac4142;
}

/* Orange */
.theme-base-09 .button {
  background-color: #d28445;
}

/* Yellow */
.theme-base-0a .button {
  background-color: #f4bf75;
}

/* Green */
.theme-base-0b .button {
  background-color: #90a959;
}

/* Cyan */
.theme-base-0c .button {
  background-color: #75b5aa;
}

/* Blue */
.theme-base-0d .button {
  background-color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .button {
  background-color: #aa759f;
}

/* Brown */
.theme-base-0f .button {
  background-color: #8f5536;
}

.read-more {
  float: right;
  font-size: 13px;
  color: white !important;
  min-width: 100px;
}
.share-buttons-label {
 color: #ccc;
 font-weight: bold;
}

.custom-social-buttons
{
 margin-bottom: 60px;
}

.custom-social-button
{
 height: 30px; 
 border-left: 1px solid #ccc;
 width: 25%; 
 text-align: center; 
 float: left;
}

.custom-social-button.googleplus
{
 border-right: 1px solid #ccc;
 float: right;
}

.custom-social-button a
{
 vertical-align: middle;
 color: #ccc;
 font-weight: bold;
}

.custom-social-button a i
{
 display: block;
 width: 100%;
 height: 100%;
 line-height: 30px;
}

.custom-social-button a:hover
{
 vertical-align: middle;
 color: #555;
 font-weight: bold;
}