<script type="text/javascript">
	window.onload = function(){				
		var blogDomain = encodeURIComponent("{{ site.url }}");
		var pageTitleSpaces = encodeURIComponent("{{ page.title }}") + "&amp;";
		var pageID = "{{ page.id }}";
		var pageURL = encodeURIComponent(pageID) + "&amp;";
			
		var twitterPartOne = "https://twitter.com/intent/tweet?original_referer=";
		var twitterPartTwo = "text=";
		var twitterPartThree = "tw_p=tweetbutton&amp;url=";
		var twitterPartFour = "via=bigal";
		var twitterUrl = twitterPartOne + blogDomain + pageURL + twitterPartTwo + pageTitleSpaces + twitterPartThree + blogDomain +  pageURL + twitterPartFour;
		var twitterLink = document.getElementById("twitter-link");
		twitterLink.onclick = function() {popUp=window.open(twitterUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
		
		var linkedinPartOne = "http://www.linkedin.com/shareArticle?mini=true&url=";
		var linkedinPartTwo = "&title=";
		var linkedinPartThree = "&summary=";
		var linkedinPartFour = "&source=";
		var linkedinUrl = linkedinPartOne + blogDomain + pageURL + linkedinPartTwo + pageTitleSpaces + linkedinPartFour + "@bigal";
		var linkedInLink = document.getElementById("linkedin-link");
		linkedInLink.onclick = function() {popUp=window.open(linkedinUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
		

                var redditPartOne = "http://reddit.com/submit?url=";
                var redditPartTwo = "&title=";
		var redditUrl = redditPartOne + blogDomain + pageURL + redditPartTwo + pageTitleSpaces;
		var redditLink = document.getElementById("reddit-link");
		redditLink.onclick = function() {popUp=window.open(redditUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };

	};
</script>

