---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<div class="custom-social-buttons">   
  <div class="share-buttons-label">
    <span>Share with friends</span>
  </div>
  <div class="custom-social-button twitter">
    <a id="twitter-link" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
  </div>
  <div class="custom-social-button linkedin">
    <a id="linkedin-link" href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
  </div>
  <div class="custom-social-button googleplus">
    <a id="googleplus-link" href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
  </div>
    <div class="custom-social-button reddit">
    <a id="reddit-link" href="#"><i class="fa fa-reddit-square fa-2x"></i></a>
  </div>
  {% include share.html %}
</div>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
